<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <meta charset="UTF-8">
    <title>אודות</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

{% include 'nav.html' %}

<h1>About FunLine</h1>

<p class="paragraph">
    אתר הבדיחות נבנה כחלק מפרויקט שרת–לקוח, במטרה לתרגל בניית אתר רב־עמודי , ויצירת תקשורת בין דפדפן לשרת.
</p>

<p class="paragraph">
    Developed by Tiferet
</p>

<h2>מטרות האתר</h2>

<ul>
    <li>לתרגל בניית אתר רב־עמודי</li>
    <li>להבין תקשורת בין שרת ללקוח</li>
    <li>להנות מבדיחות איכות</li>
</ul>

</body>
</html>