<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <meta charset="UTF-8">
    <title>צור קשר</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

{% include 'nav.html' %}

<h1>צור קשר</h1>

<div class="form-container">
    <form id="contactForm">
        <label for="name">שם:</label>
        <input type="text" id="name" required>

        <label for="email">אימייל:</label>
        <input type="email" id="email" required>

        <label for="message">הודעה:</label>
        <textarea id="message" rows="4" required></textarea>

        <button type="submit">שלח</button>
    </form>

    <div id="contactMsg"></div>
</div>

<script src="/static/script.js"></script>
</body>
</html>